.card {
  width: 546px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;

  border: 3px solid black;
  border-radius: 10px;

  padding-top: 20px;
}

.profile {
  font-size: 48px;
  color: black;
  margin: 10px;
}
.profileGray {
  margin: 0;
  color: gray;
  font-size: 40px;
}

.avatar {
  border-radius: 50%;
  background: darkslategray;
  width: 240px;
  width: 240px;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.element {
  width: 183px;
  height: 110px;
  border-right: 3px solid gray;
  border-top: 3px solid gray;
  background: darkgray;
  color: black;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.element:last-child {
  border-right: none;
}

.element span {
  font-size: 30px;
}
